.bg-app {
  background: #ededed;
  height: 100vh;
}
.breadcrumb {
  background-color: unset;
  margin-bottom: 0px;
}
.form-select {
  --bs-form-select-bg-img: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3E%3C/svg%3E");
  appearance: none;
  background-color: $white-bg;
  background-image: var(--bs-form-select-bg-img), var(--bs-form-select-bg-icon, none);
  background-position: right 0.75rem center;
  background-repeat: no-repeat;
  background-size: 16px 12px;
  border: $border-thin solid #e3e3e3;
  border-radius: 4px;
  color: #333333;
  display: block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  transition:
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  width: 100%;
}
.main-panel {
  height: 100vh;
  max-height: calc(100vh - 77px);
}
.main-panel > .content {
  padding: unset;
}
.card h4.card-title {
  color: #277ac5;
  padding-left: 10px;
  border-left: solid 20px #277ac5;
}
.sidebar {
  overflow: hidden;
  top: 80px;
  max-height: calc(100vh - 80px);

  .nav li.active {
    background-color: #277ac5;
  }
  .nav li .nav-link {
    background: unset !important;
    padding: 5px 15px;
    margin: 0px 15px;

    p {
      text-transform: none;
    }
  }
  .nav li:not(.active) .nav-link {
    color: #277ac5;
  }
  .nav .sub-list li .nav-link {
    padding-left: 36px;
  }
}
.sidebar:after {
  background: #ffffff;
}

.btn-primary {
  border-color: #3d93e2;
  color: #3d93e2;
}
.btn-primary.btn-fill {
  background-color: #3d93e2;
}
.btn-primary.btn-fill:hover,
.btn-primary.btn-fill:focus,
.btn-primary.btn-fill:active,
.btn-primary.btn-fill.active,
.open > .btn-primary.btn-fill.dropdown-toggle {
  background-color: #3d93e2;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .btn-primary.dropdown-toggle {
  background-color: transparent;
  color: #3d93e2;
  border-color: #3d93e2;
}
.card .card-header {
  padding: 15px 0;
}
.react-datepicker-wrapper {
  width: 100%;

  input {
    --bs-form-datepicker-bg-img: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAfklEQVR4nO2YMQ6AMAzE7v+fNnsXqA4RQLaUtcolztJEvgdLve29UwywgBu4OJnp2ma6YQyQ+amjQpmfPB5x3lHbTDeMAVKusIS7N/A0GCBuoAIVigpVoEJRoQpUKCpUgQpFhSpQoahQBSqUnymE/0LxY2uLaWUYvkERkZxzACs4xVeSCucjAAAAAElFTkSuQmCC");
    background-image: var(--bs-form-datepicker-bg-img), var(--bs-form-datepicker-bg-icon, none);
    background-position: right 0.75rem center;
    background-repeat: no-repeat;
    background-size: 16px;
  }
}
.sc-dmyCSP.mHisf.rdt_TableHeadRow {
  background-color: #e2e1e1;

  .sc-eTNRI.lnOUep {
    font-size: initial;
  }
}

.form-check.form-switch {
  padding-left: 4rem;
}
.form-check-input {
  width: 1em;
  height: 1em;
  margin-top: 0.25em;
  vertical-align: top;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-top-color: rgba(0, 0, 0, 0.25);
  border-right-color: rgba(0, 0, 0, 0.25);
  border-bottom-color: rgba(0, 0, 0, 0.25);
  border-left-color: rgba(0, 0, 0, 0.25);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.form-check-input:checked {
  background-color: #0d6efd;
  border-color: #0d6efd;
}
.form-switch .form-check-input {
  width: 2em;
  margin-left: 0.5em;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e");
  background-position: left center;
  border-radius: 2em;
  transition: background-position 0.15s ease-in-out;
  scale: 1.5;
}
.form-check .form-check-input {
  float: left;
  margin-left: -3.5rem;
}
.form-switch .form-check-input:checked {
  background-position: right center;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}
.rbt-aux {
  position: absolute;
  top: 8px;
  right: 8px;
}
